<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IGI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="favicon.ico">
    <link id="theme-style" rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar shadow-sm border-bottom">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Page">Моя страница</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="AllUsers">Пользователи</a>
                    </li>
                }
            </ul>
        </div>
       @if (User.Identity.IsAuthenticated)
       { 
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a class="p-2 text-dark">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Выход" />
                    </form>
                        <!--<a class="p-2 text-dark" asp-controller="Account" asp-action="Logout">Logout</a>-->
                </li>
            </ul>
       }
       else
       { 
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a class="p-2 text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="p-2 text-dark" asp-controller="Account" asp-action="Login">Войти</a>
                </li>
            </ul>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - IGI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
